  <div class="row justify-content-md-center cardn">

    <div class="card border-info mb-3" style="max-width: 20rem;">
      <!-- <div class="card-header"> <img src="{%IMAGE%}">&nbsp;&nbsp;&nbsp;&nbsp;{%PRODUCTNAME%}</div> -->
      <div class="card-header">&nbsp;&nbsp;&nbsp;&nbsp;{%PRODUCTNAME%}&nbsp;&nbsp;&nbsp;&nbsp;{%IMAGE%}{%IMAGE%}</div>
      <div class="card-body">
        <h4 class="card-title">
          <div class="card__detail-box {%NOT_DISCOUNT%}">
            <h6 class="card__detail card__detail--discount">20% Discount</h6>
         </div>
        </h4>
        <p class="card-text">{%QUANTITY%} Combo 🔥</p>
        <p class="card-text">{%PRICE%} ₹</p>
        <p class="card-text">{%TYPE%}</p>
        <p class="card-text">
          <a class="btn btn-outline-secondary" href="/product?id={%ID%}">
            <span>Detail <i class="emoji-right">👉</i></span>
          </a>
        </p>
      </div>
    </div>

  </div>

